<div class="container" style="padding-top: 20px;">
    <div class="row">
        <% @tasks.each do |task| %>



        <div class="col-sm-4 col-md-3">
          <div class="thumbnail">
            <!--<img data-src="holder.js/300x300" alt="...">-->
            <div class="caption">
              <h3><%= "#{task.name}" %></h3>
              <p><%= task.description ? task.description : "No description" %></p>
              <p>
                <% if Rails.env.production? %>
                    <p><button><span class="glyphicon glyphicon-file" aria-hidden="true"></span><%= link_to image_tag(task.dataset.thumb('180x180#').url, alt: task.name, class: 'img-thumbnail'), task.dataset.remote_url, target: '_blank' %></button></p>
                <% else %>
                    <% if Rails.env.development? %>
                        <p><button><span class="glyphicon glyphicon-file" aria-hidden="true"></span><%= link_to image_tag(task.dataset.thumb('180x180#').url, alt: task.name, class: 'img-thumbnail'), task.dataset.url, target: '_blank' %></button></p>
                    <% end %>
                <% end %>

                <!--<%= link_to task_path(task), class: "btn btn-xs btn-primary" do %>
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    Show
                <% end %>-->

                <%= link_to edit_task_path(task), class: "btn btn-xs btn-primary" do %>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit
                <% end %>

                <%= link_to execute_task_path(task), class: "btn btn-xs btn-success" do %>
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                    Execute
                <% end %>

                <%= link_to task, method: :delete, class: "btn btn-xs btn-danger", data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    Delete
                <% end %>
              </p>
            </div>
          </div>
        </div>





    <% end %>
    </div>
</div>

