<div class="container">
	<p>
		<strong>Name:</strong>
		<%= @task.name %>
	</p>

	<p>
		<strong>Description:</strong>
		<%= @task.description %>
	</p>

	<div class="col-xs-3">
		<% if Rails.env.production? %>
			<%= link_to image_tag(@task.dataset.thumb('180x180#').url, alt: @task.name, class: 'img-thumbnail'),
						@task.dataset.url, target: '_blank' %>
			<p><%= @task.name %></p>
		<% else %>
			<% if Rails.env.development? %>
				<%= link_to image_tag(@task.dataset.thumb('180x180#').url, alt: @task.name, class: 'img-thumbnail'),
							@task.dataset.remote_url, target: '_blank' %>
				<p><%= @task.name %></p>
			<% end %>
		<% end %>
	</div>

	<%= debug @task %>

	<%= link_to 'Edit', edit_task_path(@task) %> |
	<%= link_to 'Back', tasks_path %> |
	<%= link_to "Execute", execute_task_path(@task) %>
</div>

