<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

      <%= link_to image_tag(@task.dataset.thumb('180x180#').url, alt: @task.name, class: 'img-thumbnail'),
                  @task.dataset.url, target: '_blank' %>
      <p><%= @task.name %></p>

	  <%= debug @task %>
	  <%= Dragonfly.app.fetch(@task.dataset_uid).ext %>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
